
@model Luxybox.Data.Product

@{
    ViewBag.Title = "Details";


}
<p>

</p>


@{
    <div>

            <div class="products">
                <div class="product-row">
                    

                        <img class="product-image" src="@Model.ImgUrl" />

                        <p class="product-name">@Model.Name</p>
                        <p class="product-price" @Model.Price></p>
                        

                </div>
            </div>


    </div>
}

<div class="clearfix"></div>