@model IEnumerable<Luxybox.Data.Product>

@{
    ViewBag.Title = "Index";
}


@{
        <div>
            @foreach (var product in Model)
            {
                <div class="products">
                    <div class="product-row">
                        <img class="product-image" src="@product.ImgUrl" />

                        <p class="product-name">@product.Name</p>
                        <p class="product-price" @product.Price></p>
                        <p class="product-categoryıd">@product.CategoryId</p>
                    </div>
                </div>

            }
        </div>
    }

    <div class="clearfix"></div>