body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.product {
    background-color:yellow;
}

.product-row {
    padding: 10px;
    margin-left: 10px;
    border: 1px solid red;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    color: deeppink;
    float: left;
}
.product-image {
    width: 200px;
    height: 150px;  
}

.categorys {
    display: block;
    position: relative;
    overflow: hidden;
}

.category-row {
     padding: 10px;
    margin-left: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    color: deeppink;
    float: left;
}

.category-image {
    width: 200px;
    height: 150px;
}
.navbar-brand{
    color:purple !important;
}
.lux-box{
    
    height:60px;
    width:100px;
}

.usericon{
    color:red;
    margin-left:900px;
    height:30px;
    width:20px;
}

.basketicon {
    margin-left: 900px;
    height: 30px;
    width: 20px;
}

.detail-image{
    width:1000px;
    height:500px;
}


    
