
@{
    ViewBag.Title = "Index";
}
@model List<Luxybox.Data.Category>

<h2>Car List</h2>
@{

    foreach (var category in Model)
    {
        <h1>@category.Name</h1><br />
        foreach (var item in category.Products)
        {
            <h1>@item.Name</h1><br />
        }
    }

}

