@model IEnumerable<Luxybox.Data.Product>

@{ ViewBag.Title = "Kitaplar";}


@{
    <div class="products">

        @foreach (var product in Model)
        {
            <div class="product-row">
                <a href="@Url.Action("Details", "Home", new { id = product.Id })">
                    <div>
                        <img class="product-image" src="@product.ImgUrl" />

                        <p class="product-name">@product.Name</p>
                        <p class="product-price" @product.Price></p>
                    </div>
                </a>
            </div>

        }
    </div>
}

<div class="clearfix"></div>